.tree {  
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 150%;
  } 
  

h1 {
  text-align: right;
}

body {
  background-color: honeydew;
    font-size: 150%;
}
